.root {
  width: 100vw;
  height: 100vh;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 100px 20px;
}

.list > * {
  margin: 4px;
}

.nameWrapper {
  position: relative;
  display: inline-block;
}

.name {
  font-size: 48px;
  width: fit-content;
  cursor: pointer;
}

.name:hover {
  color: #0b99ff;
}

.content {
  width: 150px;
  height: 150px;
}
