.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.primaryContent {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.piecesWrapper {
  display: flex;
  max-width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 125px);
  position: absolute;
}

.draggable {
  height: 125px;
}

.canvasWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.canvas {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(4, 125px);
  background-color: transparent;
  box-sizing: content-box;
}

.outline {
  border: 1px solid #d4d4d4;
  width: 125px;
  height: 125px;
  background-color: transparent;
  box-sizing: content-box;
}

.outline:not(:nth-child(4n)) {
  border-right: none;
}

.outline:nth-child(n + 5) {
  border-top: none;
}

.exampleImage {
  position: absolute;
  top: 20px;
  right: 20px;
}
