.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.primaryContent {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.piecesWrapper {
  display: flex;
  max-width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, var(--piece-size));
  position: absolute;
}

.draggable {
  height: var(--piece-size);
}

.canvasWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin: var(--piece-size) 0 auto calc(var(--piece-size) * 4);
}

.canvas {
  width: calc(var(--piece-size) * 4);
  height: calc(var(--piece-size) * 4);
  display: grid;
  grid-template-columns: repeat(4, var(--piece-size));
  background-color: transparent;
  box-sizing: content-box;
}

.outline {
  border: 1px solid #d4d4d4;
  background-color: transparent;
}

.outline:not(:nth-child(4n)) {
  border-right: none;
}

.outline:nth-child(n + 5) {
  border-top: none;
}

.exampleImage {
  position: absolute;
  top: 20px;
  right: 20px;
}
